vti_encoding:SR|utf8-nl
vti_author:SR|DELL\\Herb Caudill
vti_modifiedby:SR|DELL\\Herb Caudill
vti_timelastmodified:TR|17 Feb 2003 18:59:10 -0000
vti_timecreated:TR|17 Feb 2003 18:25:07 -0000
vti_extenderversion:SR|5.0.2.3409
vti_lineageid:SR|{2AB5359C-308C-42CA-84FB-16771C8957C7}
vti_backlinkinfo:VX|portfolio/index.htm portfolio/faqs.htm
vti_nexttolasttimemodified:TW|17 Feb 2003 18:59:04 -0000
vti_cacheddtm:TX|17 Feb 2003 18:57:09 -0000
vti_filesize:IR|1094
