vti_encoding:SR|utf8-nl
vti_author:SR|hcaudill
vti_timecreated:TR|21 Jul 2000 09:31:11 -0000
vti_timelastmodified:TR|19 Jul 2001 19:52:46 -0000
vti_extenderversion:SR|5.0.2.2623
vti_nexttolasttimemodified:TW|19 Jul 2001 16:44:01 -0000
vti_lineageid:SR|{B5C9346F-3964-4D48-9707-1052BA5C351A}
vti_modifiedby:SR|DELL\\Administrator
vti_backlinkinfo:VX|portfolio/index.htm
vti_cacheddtm:TX|19 Jul 2001 20:52:46 -0000
vti_filesize:IR|674
