vti_encoding:SR|utf8-nl
vti_encoding:SR|utf8-nl
vti_author:SR|hcaudill
vti_modifiedby:SR|VAIO3\\Herb Caudill
vti_timecreated:TR|25 Nov 2000 17:13:28 -0000
vti_timelastmodified:TR|28 Jul 2001 08:15:40 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|photos/dc/thanksgiving/index.htm photos/dc/index.htm
vti_nexttolasttimemodified:TW|28 Jul 2001 04:15:32 -0000
vti_lineageid:SR|{6CBA3A83-5A0D-48D2-BD0A-A9F924AE8E7A}
vti_cacheddtm:TX|28 Jul 2001 08:15:40 -0000
vti_filesize:IR|674
